.App {
  background-color: black;
  text-align: center;
}

* {
  font-family: "Cormorant Garamond", serif;
}

body {
  background-color: black;
}

.tier-gold {
  color: gold;
}

.tier-high {
  color: lightgreen;
}

.tier-low {
  color: lightcoral;
}

.title-label {
  font-family: "Cormorant Garamond", serif;
  font-size: 100px;
  text-align: bottom;
}

.title-text {
  vertical-align: bottom;
}

.btn-primary {
  background-color: #1a1a1a !important;
  border-color: darkgray !important;
}

.btn-primary:focus {
  outline-color: green;
}

.ant-menu {
  background-color: black !important;
  border-bottom: 0px !important;
}
