.App {
  background-color: black;
  text-align: center;
}

* {
  font-family: "Cormorant Garamond", serif;
}

body {
  background-color: black;
}

.tier-gold {
  color: gold;
}

.tier-high {
  color: lightgreen;
}

.tier-low {
  color: lightcoral;
}

.title-label {
  font-family: "Cormorant Garamond", serif;
  font-size: 100px;
  margin-top: 60px !important;
}

.title-text {
  vertical-align: bottom;
  text-align: bottom;
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  /* or 90% */
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: #FFFFFF;
    background: -webkit-linear-gradient(0deg, rgba(105, 234, 203, 1) 20%, rgba(234, 204, 248, 1) 70%, rgba(30, 80, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  background-color: #1a1a1a !important;
  border-color: darkgray !important;
}

.btn-primary:focus {
  outline-color: green;
}

.ant-menu {
  background-color: transparent !important;
  border-bottom: 0px !important;
}

a {
  text-decoration: none !important;
}

.ant-list-item {
  background-color: rgb(33, 33, 33);
}

.send-to-battle-button {
  min-width: 200px;
  min-height: 40px;
  border-radius: 20px !important;
  background: #000039 !important;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0px;
  font-size: 24px;
  border: 1px solid #2d6898;
  border-radius: 0px !important;
}

.carousel-info-section {
  margin: auto;
}

.ant-card-body {
  padding-top: 10px !important;
}

.ant-card-actions {
  border-top: 0px !important;

  li {
    padding-top: 0px !important;
  }
}

.ant-card-bordered {
  /*
  border: 1px solid #5bbddf !important;
  */
}

.ant-card-head {
  border: 0 !important;
  padding-bottom: 0;
}

.ant-card-head-title {
  padding-bottom: 0 !important;
}

.send-to-battle-button:hover {
  /*
  background: white !important;
  */
}

.faq-section {
  width: 100%;
  margin: auto;
}

.faq-section-accordian {
  text-align: left;
  margin: 20px 0px 100px 0px;
}

.header-section {
  margin: 60px auto auto auto;
  padding: 80px 0px 100px 0px;
  contain: content;
  background: linear-gradient(0deg, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0.7)), url("/images/main-bg-image.png");
  background-size: cover;
  text-align: left;
}

.page-footer-master {
  background: #272D37;
  padding: 2px 0px 36px 0px;
}

.icon-circle {
  background: #4A4D52 !important;
  border-radius: 400px !important;
  height: auto;
  width: auto;
  padding: 32px !important;
}

.step-card {
  background-color: transparent !important;
}

.warriors-home-page-master {
  background-image: url("/images/warriors-bg.png");
  background-size: cover;
  background-position: center;
}

.app-steps-master {
  background-color: #0d0d0d;
}

.app-step-card-description {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.slick-dots {
  margin-top: 50px !important;
}

.slick-dots li {
  background-color: white;
}

.slick-dots .slick-active {
  background-color: white !important;
}

.slick-dots-bottom {
  bottom: -80px !important;
}

.header-image {
  height: 300px;
  width: auto;
}

.header-image-section {
  margin: auto;
  text-align: center;
}

.faq-section {
  background-color: #1E1D20;
}

.carousel-warrior {
  height: 300px;
  width: auto;
  object-fit: contain;
  margin: auto;
}

.section-header-title {
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 108px;
  text-transform: capitalize;
  font-size: 64px;
  background: -webkit-linear-gradient(0deg, rgba(105, 234, 203, 1) 20%, rgba(234, 204, 248, 1) 70%, rgba(30, 80, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 60px auto 60px auto;
}

.faq-title {
  text-align: left !important;
  background: -webkit-linear-gradient(0deg, rgba(105, 234, 203, 1) 5%, rgba(234, 204, 248, 1) 17%, rgba(30, 80, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq-image {
  display: none;
}

.underline-div {
  width: 136px;
  height: 11px;
  background: #D9D9D9;
  border-radius: 24px;
  margin-top: -10px;
}

.start-playing-button {
  width: 207.86px;
  height: 62px !important;
  background: #AEEEED !important;
  border-radius: 60px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 36px;
  align-items: center;
  color: #000000 !important;
  border: 0px !important;
}

.start-playing-button span {
  font-family: "Poppins";
  font-weight: 400 !important;
  font-style: normal !important;
}

.carousel-description {
  text-align: left;
  font-size: 18px;
}

.site-card-wrapper {
  width: 90%;
  margin: auto;
  margin-bottom: 160px;
}

.title-subtitle {
  font-family: 'Radley';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* or 131% */

  display: flex;
  align-items: center;

  color: #B7B7B7;
}

@media (min-width: 1100px) {
  .site-card-wrapper {
    width: 60%;
    margin: auto;
    margin-top: 0px !important;
    margin-bottom: 80px;
  }

  .faq-section {
    width: 65%;
    margin: auto;
  }

  .faq-image {
    display: block;
    height: 400px;
    width: auto;
    margin: auto;
    margin-top: 90px;
    opacity: 0.25;
  }

  .title-text {
    font-size: 80px;
    line-height: 78px;
  }

  .header-image {
    height: 600px;
  }

  .slick-dots-bottom {
    bottom: -44px !important;
  }

  .carousel-warrior {
    margin-right: -10px !important;
  }
}