.App {
  background-color: black;
  text-align: center;
}

* {
  font-family: "Cormorant Garamond", serif;
}

body {
  background-color: black;
}

.tier-gold {
  color: gold;
}

.tier-high {
  color: lightgreen;
}

.tier-low {
  color: lightcoral;
}

.title-label {
  font-family: "Cormorant Garamond", serif;
  font-size: 100px;
  text-align: bottom;
}

.title-text {
  vertical-align: bottom;
}

.btn-primary {
  background-color: #1a1a1a !important;
  border-color: darkgray !important;
}

.btn-primary:focus {
  outline-color: green;
}

.ant-menu {
  background-color: black !important;
  border-bottom: 0px !important;
}

a {
  text-decoration: none !important;
}

.ant-list-item {
  background-color: rgb(33, 33, 33);
}

.send-to-battle-button {
  min-width: 200px;
  min-height: 50px;
  border-radius: 20px !important;
  background: #000039 !important;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0px;
  font-size: 24px;
  border: 1px solid #2d6898;
  border-radius: 0px !important;
}

.ant-card-body {
  padding-top: 10px !important;
}

.ant-card-actions {
  border-top: 0px !important;

  li {
    padding-top: 0px !important;
  }
}

.ant-card-bordered {
  /*
  border: 1px solid #5bbddf !important;
  */
}

.ant-card-head {
  border: 0 !important;
  padding-bottom: 0;
}

.ant-card-head-title {
  padding-bottom: 0 !important;
}

.send-to-battle-button:hover {
  /*
  background: white !important;
  */
}
