body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Clash Display";
  src: local("Clash Display"), url(./fonts/ClashDisplay/ClashDisplay-Semibold.otf) format("truetype");
}
